# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
# variable name = value

number = 6

print(number)
print(type(number))

new_num = 8
print(new_num)
print(type(new_num))

6
<class 'int'>
8
<class 'int'>

##### Assinging float

In [6]:
num_float = 4.7

print(num_float)
print(type(num_float))

a_float = 6.
print(a_float)
print(type(a_float))

4.7
<class 'float'>
6
<class 'int'>

#### Performing Calculations on ints and floats

##### Addition

In [26]:
num1 = 3.
num= 5.

result = num1+num2
print(result)
print(type(result))

# int + int = int
# float + float = float
# int + float = float



# short hand version
result += 2 # result = result(current version) + 2
print(result)

8.0
<class 'float'>
10.0

##### Subtraction

In [27]:
diff = num1-num
print(diff)

-2.0

##### Multiplication

In [24]:
product = num1 * num
print(product)

#short hand version
product *=2 #product = product * 2
print(product)

15.0
30.0

##### Division

In [29]:
quotient = num/ num1
print(quotient)

#short hand version
quotient /= 2 #quotient = quotient / 2
print(quotient)

1.6666666666666667
0.8333333333333334

##### Floor Division aka integer division

In [30]:
result_floor = 100//3
print (result_floor)

#short hand version
result_floor //= 2  #r floor = r floor // 2
print(result_floor)

33
16

##### Modulo

In [32]:
#returns the remainder of the operation
result_mod = 29 % 5
print(result_mod)

#shorthand ver.
result_mod %= 3 #result_mod = result_mod % 3
print(result_mod)

4
1

##### Exponential

In [34]:
square = 5 ** 2
print(square)

#short hand version
square **= 2 #square = square ** 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [35]:
name = "Brian"
print(name)
print(type(name))

Brian
<class 'str'>

In [36]:
last_name = 'Stanton'
print(last_name)
print(type(last_name))

Stanton
<class 'str'>

In [37]:
possesive_string = 'Brian\'s House'
print(possesive_string)

Brian's House

In [39]:
string_num= "123"
print(string_num)
print(type(string_num))

123
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [46]:
print("First name", "Mark", "Last Name", "Torres")

First name Mark Last Name Torres

##### String Concatenation

In [48]:
city = 'Houston'
state = 'Texas'

hometown= city +','+ state

print(hometown)

#shorthand ver
hometown += ", USA" #htown = htown + "usa"
print(hometown)

Houston,Texas
Houston,Texas, USA

##### Type Conversion

In [51]:
some_num = 55
string_num= "74"
add =string_num + some_num
print(add)

TypeError: can only concatenate str (not "int") to str

In [55]:
print(type(string_num))
changed_num= int(string_num)
print(changed_num)
print(type(changed_num))

changed_again = float(changed_num)
print(changed_again)
print(type(changed_again))

<class 'str'>
74
<class 'int'>
74.0
<class 'float'>

In [59]:
some_string = '123.9123'
changed = float(some_string)
print(changed)

123.9123

##### input()

In [64]:
# input () is a built in function that will ask the end-user for input
# INPUT WILL ALWAYS RETURN A STRING ALWAYS!!

age = input("What is your age? ")
print(age)
print(type(age))

add_age = int(age) + 5
print(add_age)

What is your age? 55
55
<class 'str'>
60

##### .format()

In [68]:
name = input("What is your name? ")
age = input("What is your age? ")

greeting = "Hello my name is {} and I am {} years old.".format(name, age)

print(greeting)

What is your name? Mark
What is your age? 500
Hello my name is Mark and I am 500 years old.

###### f-string

In [70]:
name = input("What is your name? ")
age = input("What is your age? ")

greeting = f"Hello my name is {name} and I am {age} years old."

print(greeting)

What is your name? Mark
What is your age? 500
Hello my name is Mark and I am 500 years old.

In [73]:
concat_string = "Hello my name is " + name + " and I am " +age+ " years old."
print(concat_string)

Hello my name is Mark and I am 500 years old.

##### Old Way (python 2)

In [74]:
old_greeting = "Hello my name is #s and I am %s years old." %(name, age)
print(old_greeting)

TypeError: not all arguments converted during string formatting

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [79]:
color = input("What color is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")
year = input("What year is your car? ")

what_car = f"My car is a {color} {make} {model} from the year {year}."

print(what_car)

What color is your car? black
What model is your car? 500
What make is your car? ford
What year is your car? 2005
My car is a black ford 500from the year 2005.

### If Statements

In [83]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=) not equal (!=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 10
num2 = 5

if num1 < num2:
    print("the condition is true")
print('finished')

the condition is true
finished

In [84]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


if 5 > 3 and 15 < 5:
    print("Both are true")

if 5 > 3 or 15 < 5:
    print("At least one condition is true")

At least one condition is true

##### 'is' keyword

In [86]:
#use the 'is' keyword when checking for same/similar object not the same value

list1 = [1,2,3]
list2 = [1,2,3]
list3 = list1


if list1 == list2:
    print('The values are the same')

    
if list1 is list2:
    print('The reference is the same')


if list1 is list3:
    print('these reference the same object')

The values are the same
these reference the same object

In [87]:
print(id(list1))
print(id(list2))
print(id(list3))

2259089076928
2259089076736
2259089076928

##### 'in' keyword

In [91]:
char_name = 'Max Payne'


if 'y' in char_name:
    print('The character who lost everything...')

The character who lost everything...

##### 'not in' keyword'

In [93]:
if 'z' not in char_name:
    print('The letter z is not in this character name')

The letter z is not in this character name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [99]:
street = input('What is the name of your street ')

if 'p' in street:
    print('their is a letter p in your street')
else:
    print('their is no letter p in your street')

What is the name of your street palmbeach
their is a letter p in your street

## Using 'and'/'or' with If Statements

In [ ]:
#See above

### Elif Statements

In [108]:
get_in_price = 10

customer_age = int(input("What is your age? "))

if customer_age > 75:
    print('you qualify for the senior discount of 25% off!')
    get_in_price *= .75
#elif will only run if the condition above evaluated to false
elif customer_age >50:
    print('You qualify for the junior discount of 10% off!')
    get_in_price *= .90
elif customer_age > 45:
    print('Small discount!')
    get_in_price *= .99
#else only runs if all elifs above are false
else:
    get_in_price *= 1.1
    
    
print(f"Thank you for your purchase, you owe ${get_in_price:.2f}")

What is your age? 46
Small discount!
Thank you for your purchase, you owe $9.90

### Else Statements

In [ ]:
# see above

### For Loops

In [115]:
name = 'Mark Torres'

# name_iter = name.__iter__()
# name_iter.__next__()


# for 'iter_var' in 'iterable'
for letter in name:
    print(letter)

print('hello')

M
a
r
k

T
o
r
r
e
s
hello

In [120]:
for x in range(20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Using 'in' keyword

In [ ]:
# see above

##### Break Statement

In [ ]:
# will break out of current loop

In [125]:
print('loop started')

for i in range(20):
    if i ==5:
        break
    print(i)

print('loop finished')

loop started
0
loop finished
1
loop finished
2
loop finished
3
loop finished
4
loop finished

##### Continue Statement

In [ ]:
# will continue to next iteration

In [126]:
print('loop started')

for i in range(20):
    if i ==5:
        continue
    i = i ** 2
    print(i)

print('loop finished')

loop started
0
1
4
9
16
36
49
64
81
100
121
144
169
196
225
256
289
324
361
loop finished

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [127]:
print('loop started')

for i in range(20):
    if i ==5:
        pass #TODO: come back and finish implementation
    print(i)

print('loop finished')

loop started
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
loop finished

##### Double For Loops AKA Nested loops

In [133]:
num = 3

for i in range(num):
    for j in range(num):
        print(f'i={i}',f'j={j}')

i=0 j=0
i=0 j=1
i=0 j=2
i=1 j=0
i=1 j=1
i=1 j=2
i=2 j=0
i=2 j=1
i=2 j=2

### While Loops

In [134]:
#Syntax: while "conditional statement"

num = 0 
while num < 10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

In [135]:
print('Loop started')

name = input('What is your name? ')
while name != 'Mark':
    print('That is an inferior name')
    name = input('Please try again. What is your name? ')

print('loop finished')

Loop started
What is your name? Mat
That is an inferior name
Please try again. What is your name? juan
That is an inferior name
Please try again. What is your name? Mark
loop finished

##### Looping 'While True'

In [139]:
while True:
    ask = input('Would you like to quit? y/n ')
    if ask.lower() == 'y':
        break
    print('continue looping')

Would you like to quit? y/nn
continue looping
Would you like to quit? y/nn
continue looping
Would you like to quit? y/nn
continue looping
Would you like to quit? y/nn
continue looping
Would you like to quit? y/nn
continue looping
Would you like to quit? y/nn
continue looping
Would you like to quit? y/nn
continue looping
Would you like to quit? y/nn
continue looping
Would you like to quit? y/nn
continue looping
Would you like to quit? y/ny

##### While & For Loops Used Together

In [143]:
num=0

while num<5:
    print(f'while loop iteration {num}')
          
    for i in range(2):
          print(f'while loop iteration {i+1}')
          
    print()
    num+=1

while loop iteration 0
while loop iteration 1
while loop iteration 2

while loop iteration 1
while loop iteration 1
while loop iteration 2

while loop iteration 2
while loop iteration 1
while loop iteration 2

while loop iteration 3
while loop iteration 1
while loop iteration 2

while loop iteration 4
while loop iteration 1
while loop iteration 2

### Built-In Functions

##### range()

In [145]:
#range(stop) - start will default to 0 and step will default to 1 = 0, 1, ....., stop-1
#range(start, stop) - step will default to 1 == start, start+1, start+2, ..., stop-1
#range(start, stop, step)
#start is INCLUSIVE, stop is EXCLUSIVE

for i in range(10,20, 2):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [202]:
name = 'mark'
for i in range(4):
    print(name[i])

m
a
r
k

##### len()

In [150]:
#checks the length of  an iterable object

color = 'orange'
length = len(color)
print(length)
print(type(length))

6
<class 'int'>

In [152]:
for x in range(len(color)):
    print(x, color[x])

0 o
1 r
2 a
3 n
4 g
5 e

##### help()

In [ ]:
#use this function to view more info about a python object (with a DOCSTRING)

##### isinstance()

In [153]:
# Check a variable  to find out what object find it belongs to
#syntax: isintance(var, obj)

country = 'France'

isinstance(country, str)

if isinstance(5, int):
    print('This is an int')

This is an int

##### abs()

In [154]:
abs(-100)

100

### Try and Except

In [160]:
#use whenever we encounter a bug so that the error doesnt cause the program to stop
#use to log errors gracefully

my_list= [1,6,3,6,'7',8,3,2,6]

try:
    total = 0
    for num in my_list:
        total /= 0
        print(total)
        
except TypeError as err:
    print('fatal error', err)
except ZeroDivisionError as err:
    print('Cannot divide by 0', err)
except:
    print('generic error')

    
    
    
print('more stuff happens here')

Cannot divide by 0 division by zero
more stuff happens here

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

In [190]:
print('loop started')

for i in range(30):
    if i == 1:
        continue
    i = i ** 3
    print(i)
    if i == 1000:
        break
    

print('loop finished')

loop started
0
8
27
64
125
216
343
512
729
1000
loop finished

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [245]:
print('loop started')

cube_test = range(int(input("Any number ")))

for i in cube_test:
    if i == 1:
        continue
    i = i ** 3
    print(i)
    if i == 1000:
        break
    

print('loop finished')

loop started
Any number 5
0
8
27
64
loop finished

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [242]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
#from range(2,101)

for num in range(100):
    if num > 1:
            
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(i)

3
2
4
6
10
12
16
18
22
28
30
36
40
42
46
52
58
60
66
70
72
78
82
88
96

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [189]:
age = int(input('What is your age?'))

if age < 18:
    print('kids')
elif age >= 18 and age <= 65:
    print('Adults')
else:
    print('Seniors')

What is your age?12
kids